.Dropzone-root {
    width: 100%;
    height: 100%;
    display: 'block';
}

.Dropzone-paper {
    height: calc(100% - 20px); 
    padding: 10px;
}

.Dropzone-paperHide {
    height: 100%;
}

.Dropzone-dropPaper {
    height: 100%;
    background-color: rgba(0,0,0,0.1) !important;
    overflow-y: auto;
    position: relative;
}

.Dropzone-dropDiv {
    height: 100%;
}