.SPP-button {
    float: left;
    margin-top: 10px !important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}

.SPP-buttonRight {
    float: right;
    margin-top: 10px !important;
    border: 1px solid rgba(0,0,0,0.3) !important;
}

.SPP-drop {
    height: 50%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.SPP-dropClosed {
    height: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.SPP-graph {
    overflow: auto;
    width: 80%;
    height: calc(100% - 200px);
    margin: auto;
}

.SPP-paper {
    background-color: rgb(200, 0, 0) !important;
    color: white  !important;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.SPP-paperDiv {
    padding: 15px 0 15px 0;
    width: 100%;
    transition: 0.2s;
}
    
.SPP-paperDivHide {
    height: 0;
    width: 100%;
    transition: 0.2s;
    overflow: hidden;
}

.SPP-root {
    height: 100%;
}

.SPP-select {
    width: 150px;
    float: left;
    margin: 0 50px 0 0 !important;
}

.SPP-spacer {
    height: 80px;
}